@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0:
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.intro-image{
    background-attachment: fixed;
    background-image: url("../img/img2.webp");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #68766d86;
    border: 2px solid #68766d86;
    color: #c29e5a;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #63523e;
    color: #bfb9a2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
   
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url("../img/img1.webp");
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #2c282ecb;
    border: 2px solid #2c282e;
    color: #cdc4ba;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #616970;
    color:#9fa8a7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image{
    background-attachment: fixed;
    background-image: url("../img/img3.jpeg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #573935a2;
    border: 2px solid #573935;
    color: #b69b95;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #5f5155;
    color:#9b9493;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.footer {
    height: 250px;
    background-color: #5e3c33;
    color: #9fa8a7;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #aeb7b6;
    text-decoration: none;
}

.footer ul li:hover {
   /* color: #9fa8a7;*/
    transform: scale(1.3);
}